html { 
  background: url('images/Brick2.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: linear-gradient(60deg,cyan,#00BFFF,#6699CC);
    background: linear-gradient(#8b8b8b, #5a595a, #343434, #000000);
    background-image: url('images/Brick2.png');
    font-weight: bold;
    text-align: center;
    justify-content: center;
}

.neonText {
    color: rgb(0, 0, 0);
    text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 2px #fff,
      0 0 4px #0fa,
      0 0 8px #0fa,
      0 0 9px #0fa,
      0 0 10px #0fa,
      0 0 10px #0fa;
}
h1 {
    font-family:'Tangerine';
    color: rgb(0, 0, 0);
    font-size:300%;
    
}
h2 {
    font-family: 'Tangerine', serif;
    font-size: 48px;
    text-shadow: 4px 4px 4px #aaa
}

button {
    color:white ;
    width: 75px;
    background: #016f32;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    border:2px solid black;
    border-radius: 4px;
    margin-bottom: 2px;
    margin-top: 2px;
    cursor: url('images/note-cursor.cur'), auto;	
}
.go-button:hover {
    background:linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); 
}

input[type=text] {
    width: 20%;
    padding: 12px 20px;
    background-color:rgb(186, 240, 99);
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 50px;
    outline: none;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
input[type=text]:hover {
    background:linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); 
    transition: transform 2s;
  }

.tile {
    transition-delay: 0.5s;
    transition: transform 0.5s;
    height: 50px;
    width: 80px;
    display: inline-block;
    border: 1.5px solid black;
    color: white;
    border-radius:7px;
    margin-right:4px;
    margin-left:4px;
    margin-top:4px;
    margin-bottom:4px;
    backdrop-filter:blur(2px);
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;  }
  
.tile:hover {
    transition-delay: 0.2;
    transform:scale(0.8);
    cursor: url('images/note-cursor.cur'), auto;	
  }
